In [2]:
import pandas as pd
import requests

In [3]:
## Assumption: The file is not given and needs to read from the URL

url = "https://raw.githubusercontent.com/Papagoat/brain-assessment/main/restaurant_data.json"
response = requests.get(url)

# Make sure the request was successful
if response.status_code == 200:
    data = response.json()
else:
    print(f"Request failed with status code {response.status_code}")

In [4]:
# Read the Excel file
country_df = pd.read_excel('Country-Code.xlsx')

In [12]:
restuarant_list = []

for page in data:
    for restaurant in page['restaurants']:
        restuarant_list.append(restaurant)

In [16]:
def get_details(restuarant_list):
    result = []
    
    for entry in restuarant_list:
        restaurant = entry.get('restaurant', {})
        
        # Get the restaurant id
        restaurant_id = restaurant.get('R', {}).get('res_id', None)
        
        # Get the restaurant name
        restaurant_name = restaurant.get('name', None)
        
        # Get the country_id
        country_id = restaurant.get('location', {}).get('country_id', None)
        
        # Get the city name
        city = restaurant.get('location', {}).get('city', None)
        
        # Get the User Rating Votes
        votes = restaurant.get('user_rating', {}).get('votes', None)
        
        # Get the User Aggregate Rating
        aggregate_rating = restaurant.get('user_rating', {}).get('aggregate_rating', None)
        
        # Get the Cuisines
        cuisines = restaurant.get('cuisines', None)
        
        result.append([restaurant_id, restaurant_name, country_id, city, votes, aggregate_rating, cuisines])
    
    return result

In [22]:
columns = ['Restaurant Id', 'Restaurant Name', 'Country', 'City', 'User Rating Votes', 'User Aggregate Rating', 'Cuisines']

restuarant_df = pd.DataFrame(get_details(restuarant_list), columns=columns)

In [26]:
restuarant_df['Country'] = restuarant_df['Country'].map(country_df.set_index('Country Code')['Country'])

In [27]:
restuarant_df

,Restaurant Id,Restaurant Name,Country,City,User Rating Votes,User Aggregate Rating,Cuisines
0,18649486,The Drunken Botanist,India,Gurgaon,4765,4.4,"Continental, Italian, North Indian, Chinese"
1,308322,Hauz Khas Social,India,New Delhi,13627,4.6,"Continental, American, Asian, North Indian, Ch..."
2,18856789,AIR- An Ivory Region,India,New Delhi,1819,4.1,"North Indian, Chinese, Continental, Asian"
3,307374,AMA Cafe,India,New Delhi,3252,4.4,"Cafe, Juices"
4,18238278,Tamasha,India,New Delhi,8112,4.4,"Finger Food, North Indian, Continental, Italian"
...,...,...,...,...,...,...,...
1295,7900186,Mexico,New Zealand,Hamilton,100,4.2,Mexican
1296,7900182,Thai House Express,New Zealand,Hamilton,51,4.0,Thai
1297,7900023,Indian Star,New Zealand,Hamilton,63,3.8,"North Indian, Indian"
1298,7900490,Zealong Tea Estate,New Zealand,Hamilton,55,4.7,"European, Asian, Desserts"
1299,7900115,The Flying Burrito Brothers,New Zealand,Hamilton,58,3.9,Mexican